.event-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-left: auto;
}
  
.event-card {
  color: var(--md-sys-color-on-primary);
  padding: 1rem;
  display: flex;
  margin: 0 2rem 2rem 2rem;
  flex-direction: column;
  width: 400px;
  height: 300px;   
  background-size: cover;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
  
}

.img-caption-one {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  backdrop-filter: blur(7px);
  margin-top: 11rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event-artist-main {
  margin-left: 1rem;
  font-size: 20px;
}

.bar {
  font-size: 20px;
}

.event-date-main {
  margin-right: 1rem;
  font-size: 20px;
}
.event-card:hover {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform: scale(1.1)
  
}

.event-card:not(:hover) {
  transform: scale(1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.search-btn {
  background-color: var(--md-sys-color-primary);
  color: white;
  border-radius: 3px;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-btn:hover {
background-color: var(--md-sys-color-on-primary-container);
}


.main-link{
  text-decoration: none;


}