.event-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.event-card {
  color: var(--md-sys-color-on-primary);
  padding: 1rem;
  display: flex;
  margin: 0 2rem 2rem 2rem;
  flex-direction: column;
  width: 400px;
  height: 300px;   
  background-size: cover;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}

.img-caption-one {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  backdrop-filter: blur(7px);
  margin-top: 11rem;
  width: 100%
}
.event-card:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.1)
  
}




.main-link{
  text-decoration: none;
}