
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
}

.link {
    text-decoration: none;
    color: var(--md-sys-color-on-primary);
  }