.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #0077c2;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.label {
  color: #ffffff;
}

.input-field {
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 10px;
}

.submit-btn {
  background-color: #ffffff;
  color: #0077c2;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.input-wrapper {
  margin-right: 15px; 
}

p {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: bold;
}

.venue-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}