.venue-list{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.venue-card {
background-color: var(--md-sys-color-tertiary-container);
color: var(--md-sys-color-on-tertiary-container);

padding: 1rem;
display: flex;
margin: 0 2rem 2rem 2rem;
flex-direction: column;
border-radius: 1rem;
/* object-fit: cover; 
max-height: 100%;
max-width: 80%; */

}
